
body{
    background-color: black;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
img{
    color: aliceblue;
}
tr{
    color: aliceblue;
}
dl{
    color: aliceblue;
}
div{
    color: aliceblue;
}
label{
    color: black;
}
placeholder{
    color: black;
}